.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    padding: 2px 16px;
}

.textoprod {
    font-size: 3vw;
    text-align: center;
}

.precoprod {
    font-size: 2vw;
    text-align: center;
}